* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.main-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 5.4rem;
}

.main-title {
    font-family: "Oswald", sans-serif;
    justify-self: center;
    font-size: 4.8rem;
    margin-top: 3.6rem;
    letter-spacing: 1px;
}

/* Helpers */
.hidden {
    display: none;
}

/* Exercise Section */

#error-message {
    background-color: #ffe6e6;        
    border: 1px solid #ff4d4d;         
    color: #cc0000;                    
    padding: 12px 16px;
    border-radius: 8px;
    margin-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.error-text {
    flex: 1;
    padding-right: 1.2rem;
}

#close-error {
    background: none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #cc0000;
    cursor: pointer;
    transition: color 0.2s ease;
}

  #close-error:hover {
    color: #990000;
}

.exercise-search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-box {
    display: flex;
    width: max-content;
    align-items: center;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: #2C2C2C;
    margin-bottom: 3.6rem;
}

.search-input {
    width: auto;
    min-width: 25rem;
    border: none;
    outline: none;
    background: transparent;
    background-color: #2C2C2C;
    color: #CCCCCC;
    font-size: 1.2rem;
    margin-left: 0.4rem;
}

.search-icon-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: #8f8f8f;
}

.search-icon-button:hover {
    color: #cccccc;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.exercise-result-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    background-color: #2C2C2C;
    color: #8f8f8f;
    width: 40rem;
    height: 40rem;
}

.exercise-result-box h2{
    font-size: 2.4rem;
    font-weight: 400;
    align-self: center;
    margin-bottom: 1.8rem;
}

.e-result-text {
    font-size: 1.2rem;
}

.available-exercise-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Workout Section */

.workout-section {
    border-radius: 8px;
    background-color: #2C2C2C;
    width: 48rem;
    height: 55rem;
}

.workout-section form {
    display: flex;
    justify-content: center;
}

.workout-name-header {
    margin-top: 1.2rem;
    width: auto;
    min-width: 30rem;
    padding: 1.2rem;
    padding-left: 3.6rem;
    border: none;
    border-radius: 0.8rem;
    outline: none;
    background: transparent;
    background-color: #1F1F1F;
    color: #CCCCCC;
    font-size: 2.4rem;
    font-weight: 600;
}
